h1 {
  color: blue;
  text-align: center;
  font-family: cursive;
  font-style: oblique;
}
h2 {
  color: purple;
  font-style: italic;
  text-align: center;
  line-height: inherit;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
strong {
  font-style: italic;
}
em {
  font-weight: bold;

}
